name: Build RPCS3 Linux ARM64 armv8.0 test

defaults:
  run:
    shell: bash

on:
  push:
    branches:
      - nvidia-l4t
  pull_request:
  workflow_dispatch:

env:
  BUILD_ARTIFACTSTAGINGDIRECTORY: ${{ github.workspace }}/artifacts/

jobs:
    Linux_ARM64_Build:
    name: RPCS3 Linux ARM64
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        include:
          - docker_img: "rpcs3/rpcs3-ci-jammy-aarch64:1.7"
            build_sh: "/rpcs3/.ci/build-linux-aarch64.sh"
            compiler: clang
    env:
      CCACHE_DIR: ${{ github.workspace }}/ccache
      DEPLOY_APPIMAGE: true
      APPDIR: "/rpcs3/build/appdir"
      ARTDIR: "/root/artifacts"
      RUN_UNIT_TESTS: github.event_name == 'pull_request' && 'ON' || 'OFF'
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          fetch-depth: 0
          ref: nvidia-l4t

      - name: Restore build Ccache
        uses: actions/cache/restore@main
        id: restore-build-ccache
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ runner.os }}-ccache-${{ matrix.compiler }}-${{ runner.arch }}-${{ github.run_id }}
          restore-keys: ${{ runner.os }}-ccache-${{ matrix.compiler }}-${{ runner.arch }}-

      - name: Docker setup and build
        run: |
          docker pull --quiet ${{ matrix.docker_img }}
          docker run \
            -v $PWD:/rpcs3 \
            --env-file .ci/docker.env \
            -v ${{ env.CCACHE_DIR }}:/root/.ccache  \
            -v ${{ github.workspace }}/artifacts:/root/artifacts \
            ${{ matrix.docker_img }} \
            ${{ matrix.build_sh }}

      - name: Upload AppImage artifact
        uses: actions/upload-artifact@main
        with:
          name: RPCS3 Linux ARM64
          path: ${{ github.workspace }}/artifacts/*.AppImage
          compression-level: 0

      - name: Save build Ccache
        if: github.ref == 'refs/heads/nvidia-l4t'
        uses: actions/cache/save@main
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ steps.restore-build-ccache.outputs.cache-primary-key }}
